@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
html, body {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}
body {
  margin: 0;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

#instructions {
  display: none;
}

#results,
body:hover #instructions {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.75);
}

a:visited {
  color: inherit;
}

#results {
  display: none;
  cursor: default;
}

#results .content,
#instructions .content {
  max-width: 300px;
  padding: 50px;
  border-radius: 20px;
}

#results {
}

#score {
  position: absolute;
  color: white;
  font-size: 3em;
  font-weight: bold;
  top: 30px;
  left: 30px; /* Imposta il valore di "left" per posizionare lo score a sinistra */
}

/* Sidebar delle Impostazioni */
#settings-sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: left 0.3s ease;
}

.settings-content {
  padding: 20px;
}

.settings-content h2 {
  margin-top: 0;
}

#settings {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

#applySettingsButton {
  display: block;
  margin-top: 10px;
}
.gfg {
  height: 50px;
  width: 50px;

}

.mynav {
  color: #fff;
}

.mynav li a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: block;
  border-radius: 5px;
  padding: 8px 5px;
}

.mynav li a.active {
  background: rgba(255, 255, 255, 0.2);
}

.mynav li a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.mynav li a i {
  width: 25px;
  text-align: center;
}

.notification-badge {
  background-color: rgba(255, 255, 255, 0.7);
  float: right;
  color: #222;
  font-size: 14px;
  padding: 0px 8px;
  border-radius: 2px;
}
/* styles1.css */
/* styles1.css */

/* Stili per le checkbox e le relative label */
.checkbox-container {
  display: flex; /* Utilizza il layout flexbox */
  align-items: center; /* Allinea verticalmente al centro */
  margin-bottom: 10px; /* Spazio inferiore tra le checkbox */
}

.checkbox-label {
  margin-left: 10px; /* Margine a sinistra per separare dalla checkbox */
  font-weight: bold; /* Testo in grassetto */
}

/* Stili per le slider */
input[type="range"] {
  -webkit-appearance: none; /* Rimuove lo stile predefinito del browser */
  width: 100%; /* Larghezza completa */
  height: 10px; /* Altezza personalizzata */
  background-color: #ddd; /* Colore di sfondo */
  border-radius: 5px; /* Angoli arrotondati */
  outline: none; /* Rimuove l'outline di focus */
  opacity: 0.7; /* Opacità */
  transition: opacity 0.15s ease-in-out;
}

input[type="range"]:hover {
  opacity: 1; /* Opacità aumentata al passaggio */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Rimuove lo stile predefinito del thumb di WebKit */
  appearance: none; /* Rimuove lo stile predefinito del thumb */
  width: 20px; /* Larghezza del thumb */
  height: 20px; /* Altezza del thumb */
  background-color: #4CAF50; /* Colore di sfondo del thumb */
  border-radius: 50%; /* Bordi arrotondati */
  cursor: pointer; /* Cambia il cursore al passaggio */
}

input[type="range"]::-moz-range-thumb {
  width: 20px; /* Larghezza del thumb per Firefox */
  height: 20px; /* Altezza del thumb per Firefox */
  background-color: #4CAF50; /* Colore di sfondo del thumb per Firefox */
  border-radius: 50%; /* Bordi arrotondati per Firefox */
  cursor: pointer; /* Cambia il cursore al passaggio per Firefox */
}

/* Stili per le label */
label {
  display: block; /* Rende le label un blocco */
  margin-bottom: 5px; /* Spazio inferiore tra le label */
  font-weight: bold; /* Testo in grassetto */
}

/* Stili per il pulsante "Apply Settings" */
#applySettingsButton {
  background-color: #4CAF50; /* Colore di sfondo del pulsante */
  color: white; /* Colore del testo */
  border: none; /* Rimuove il bordo */
  padding: 10px 20px; /* Spaziatura interna */
  font-size: 16px; /* Dimensione del testo */
  cursor: pointer; /* Cambia il cursore al passaggio */
  border-radius: 4px; /* Angoli arrotondati */
  transition: background-color 0.3s;
}

#applySettingsButton:hover {
  background-color: #45a049; /* Cambia il colore di sfondo al passaggio */
}
